# Build results
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

# .NET
*.user
*.userosscache
*.suo
*.userprefs
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / Visual Studio
.vs/
.idea/
*.swp
*~

# Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
coverage/

# NuGet
*.nupkg
.nuget/
